<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.Dulaegil">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
    <application android:label="Dulaegil.Android"></application>
  
  <!--카카오맵 승인-->
  <uses-permission android:name="android.permission.INTERNET">
</uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
</uses-permission>
  <meta-data android:name="com.kakao.sdk.AppKey" android:value="c2df363276e9065234ec55c677edd6e8"/>
    
</manifest>
